
<p>Das hier aufgeführte Impressum gilt für die Internetpräsenz des Ingenierbüros für Bauwesen.</p>

<h3>Verantwortlich für den Inhalt</h3>

<address>
  <strong>Ingenieurbüro für Bauwesen</strong><br>
  Breite Straße 15<br>
  04924 Bad Liebenwerda
</address>

<ul class="list-unstyled">
  <li>Tel.: 035341 471 522</li>
  <li>Fax: 035341 471 522 </li>
  <li>Mobil: 0172 721 852 0</li>
  <li>E-Mail: <a href="mailt:info@ib-bauwesen.com">info@ib-bauwesen.com</a></li>
  <li>USt-IdNr.: DE138947175</li>
</dl>

<h4>Inhaber</h4>
<p>Dipl.-Ing. (FH) Michael Bragulla</p>

<h4>Design</h4>
<address>
  julimage<br>
  [Grafik | Design | Multimedia]<br>
  Juliane Bragulla<br>
  Karl-Marx-Straße 11<br>
  04924 Bad Liebenwerda<br>
  <a href="mailto:info@julimage.de">info@julimage.de</a><br>
  <a href="http://www.julimage.de">www.julimage.de</a>
</address>

<h4>Technische Realisierung</h4>
<address>
  Alexa Schlegel<br>
  Wildenbruchstraße 83<br>
  12045 Berlin<br>
  <a href="mailto:hello@alexa.sc">hello@alexa.sc</a>
</address>

<h3>Haftungsausschluss</h3>
<p>Alle Informationen und Erklärungen dieser Internetseiten sind unverbindlich. Das Ingenieurbüro übernimmt keine Gewähr für die Richtigkeit und Vollständigkeit der Inhalte. Aus den Inhalten dieser Internetseiten ergeben sich keinerlei Rechtsansprüche. Fehler im Inhalt werden bei Kenntnis darüber unverzüglich korrigiert. Für den Inhalt verlinkter Seiten sind ausschließlich deren Betreiber verantwortlich. Wir haben keinen Einfluss darauf, ob Dritte von ihrer Website zu unserer Website Links einrichten. Die Existenz solcher Links ist kein Hinweis auf eine Zusammenarbeit mit diesen Unternehmen oder eine Empfehlung ihres Angebotes.</p>

<p>Der Inhalt dieser Website ist urheberrechtlich geschützt. Grafiken, Texte, Logos, Bilder usw. dürfen in jeglicher Form nur nach schriftlicher Genehmigung genutzt werden.</p>

<h3>Bildmaterial</h3>
<p>The part of architectural projec, © Maksym Dykha, Fotolia.com<br>
  report, © Alfredo Hernandez, The Noun Project<br>
  Electronic Concept © Antoine Dieulesaint, The Noun Project<br>
  Interaction Design © Antoine Dieulesaint, The Noun Project<br>
  bar chart © Antoine Dieulesaint, The Noun Project<br>
  group © Marie Van den Broeck, The Noun Project<br>
  sun © artworkbean, The Noun Project<br>
  City © Nicolas Morand, The Noun Project<br>
</p>