
<p>Das hier aufgeführte Impressum gilt für die Internetpräsenz des Ingenierbüros für Bauwesen.</p>

<h3>Angaben gemäß § 5 TMG</h3>

<h4>Verantwortlich für den Inhalt</h4>

<ul class="list-unstyled">
  <li>Michael Bragulla</li>
  <li>Ingenieurbüro für Bauwesen</li>
  <li>Nordring 3a</li>
  <li>04924 Bad Liebenwerda</li>
</ul>

<ul class="list-unstyled">
  <li>Tel.: 035341 471 522</li>
  <li>Fax: 035341 471 522 </li>
  <li>Mobil: 0172 721 852 0</li>
  <li>E-Mail:
<script type="text/javascript" language="javascript">
<!--
// Email obfuscator script 2.1 by Tim Williams, University of Arizona
// Random encryption key feature by Andrew Moulden, Site Engineering Ltd
// This code is freeware provided these four comment lines remain intact
// A wizard to generate this code is at http://www.jottings.com/obfuscator/
{ coded = "TX73@TU-UIRmSQSX.a36"
  key = "3HUA91aSqidKy4rmDvZQtkEFlxIz2TnpJfu65WGMCNoPb8OYceXgV7RhjwBL0s"
  shift=coded.length
  link=""
  for (i=0; i<coded.length; i++) {
    if (key.indexOf(coded.charAt(i))==-1) {
      ltr = coded.charAt(i)
      link += (ltr)
    }
    else {     
      ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
      link += (key.charAt(ltr))
    }
  }
document.write("<a href='mailto:"+link+"'>"+link+"</a>")
}
//-->
</script><noscript>Sorry, you need Javascript on to email me.</noscript>
  </li>
</ul>
<ul class="list-unstyled">
  <li>USt-IdNr. (gem. §27 a Umsatzsteuergesetz): DE138947175</li>
</ul>


<h4>Berufsbezeichnung und berufsrechtliche Regelungen</h4>

<p>Berufsbezeichnung: Bauingenieur<br />Zuständige Kammer: Brandenburgische Ingenieurkammer<br /><a href="https://www.bbik.de/" target="blank">www.bbik.de&nbsp;<i class="fa fa-fw fa-external-link"></i></a><br />Ingenieurgesetz, Ingenieurkammergesetz, Berufsordnung, HOAI, Sachverständigenordnung, Landesbauordnung<br />Die Gesetze finden Sie unter: <a href="https://www.bbik.de/rechtshinweise/" target="blank">www.bbik.de/rechtshinweise&nbsp;<i class="fa fa-fw fa-external-link"></i></a></p>


<h4>Angaben zur Berufshaftpflichtversicherung</h4>

<p>Name und Sitz des Versicherers:<br />Gothaer Allgemeine Versicherung AG<br />Gothaer Allee 1<br />50969 Köln</p>
<p>Geltungsraum der Versicherung: Deutschland</p>


<h4>Streitschlichtung</h4>
<p>Zur gütlichen Beilegung von Streitigkeiten, die sich aus der Berufsausübung zwischen Kammermitgliedern
oder zwischen diesen und Dritten ergeben, kann gemäß § 24 Brandenburgisches Ingenieurgesetz (BbgIngG) auf Antrag ein Schlichtungsausschuss eingerichtet werden.</p>


<!-- Haftungsausschluss -->

<h3>Haftung für Inhalte</h3>

<p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.</p>
<p>Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>


<!-- Urheberrecht -->

<h3>Urheberrecht</h3>

<p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.</p>
<p>Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>


<!-- Verwendete Bilder -->

<h3>Bildmaterial</h3>
<p>The part of architectural projec, © Maksym Dykha, Fotolia.com<br>
  report, © Alfredo Hernandez, The Noun Project<br>
  Electronic Concept © Antoine Dieulesaint, The Noun Project<br>
  Interaction Design © Antoine Dieulesaint, The Noun Project<br>
  bar chart © Antoine Dieulesaint, The Noun Project<br>
  group © Marie Van den Broeck, The Noun Project<br>
  sun © artworkbean, The Noun Project<br>
  City © Nicolas Morand, The Noun Project<br>
</p>


<!-- Design und Umsetzung -->

<h3>Design & Technische Realisierung</h3>
<address>
  julimage<br>
  [Grafik | Design | Multimedia]<br>
  Juliane Bragulla<br>
  Karl-Marx-Straße 11<br>
  04924 Bad Liebenwerda<br>
  <script type="text/javascript" language="javascript">
<!--
// Email obfuscator script 2.1 by Tim Williams, University of Arizona
// Random encryption key feature coded by Andrew Moulden
// This code is freeware provided these four comment lines remain intact
// A wizard to generate this code is at http://www.jottings.com/obfuscator/
{ coded = "z3hZ@EDwz49LU.2U"
  key = "At1uwya7ofk5YO2gNBTDqJ9XZhejHcFLsQGmnRibI8UEVrvCxKl43MzWS0Ppd6"
  shift=coded.length
  link=""
  for (i=0; i<coded.length; i++) {
    if (key.indexOf(coded.charAt(i))==-1) {
      ltr = coded.charAt(i)
      link += (ltr)
    }
    else {     
      ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
      link += (key.charAt(ltr))
    }
  }
document.write("<a href='mailto:"+link+"'>"+link+"</a>")
}
//-->
</script><noscript>Sorry, you need Javascript on to email me.</noscript>
<br>
  <a href="https://www.julimage.de">www.julimage.de&nbsp;<i class="fa fa-fw fa-external-link"></i></a>
</address>

<address>
  Alexa Schlegel<br>
  Wildenbruchstraße 83<br>
  12045 Berlin<br>
  <script type="text/javascript" language="javascript">
<!--
// Email obfuscator script 2.1 by Tim Williams, University of Arizona
// Random encryption key feature coded by Andrew Moulden
// This code is freeware provided these four comment lines remain intact
// A wizard to generate this code is at http://www.jottings.com/obfuscator/
{ coded = "3s11R@t1sNt.pX"
  key = "a4ZCuGWdczY10Fty2jMJrVXowAqxTU78DeIK5RBm9NLh6nQsvkOEbgiSP3flHp"
  shift=coded.length
  link=""
  for (i=0; i<coded.length; i++) {
    if (key.indexOf(coded.charAt(i))==-1) {
      ltr = coded.charAt(i)
      link += (ltr)
    }
    else {     
      ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
      link += (key.charAt(ltr))
    }
  }
document.write("<a href='mailto:"+link+"'>"+link+"</a>")
}
//-->
</script><noscript>Sorry, you need Javascript on to email me.</noscript>

</address>


<hr />

<!-- erecht24 Siegel -->

<p>
<img src="{{ site.baseurl }}/img/erecht24-siegel-impressum-rot.png">
</p>