 <!-- Kontakt -->

<section id="kontakt">
  <div id="overlay" class="visible-lg-block">
    <div id="map"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center content">
        <h2>Kontakt</h2>
        <hr>
        <ul class="list-unstyled">
          <li>Dipl.-Ing. (FH) Michael Bragulla</li>
          <li>Nordring 3a</li>
          <li>04924 Bad Liebenwerda</li>
        </ul>
        <ul class="list-unstyled">
          <li>Tel.: 035341 471 522</li>
          <li>Fax.: 035341 471 522</li>
          <li>Mobil: 0172 721 852 0</li>
          <li>E-Mail:
<script type="text/javascript" language="javascript">
<!--
// Email obfuscator script 2.1 by Tim Williams, University of Arizona
// Random encryption key feature by Andrew Moulden, Site Engineering Ltd
// This code is freeware provided these four comment lines remain intact
// A wizard to generate this code is at http://www.jottings.com/obfuscator/
{ coded = "TX73@TU-UIRmSQSX.a36"
  key = "3HUA91aSqidKy4rmDvZQtkEFlxIz2TnpJfu65WGMCNoPb8OYceXgV7RhjwBL0s"
  shift=coded.length
  link=""
  for (i=0; i<coded.length; i++) {
    if (key.indexOf(coded.charAt(i))==-1) {
      ltr = coded.charAt(i)
      link += (ltr)
    }
    else {     
      ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
      link += (key.charAt(ltr))
    }
  }
document.write("<a href='mailto:"+link+"'>"+link+"</a>")
}
//-->
</script><noscript>Sorry, you need Javascript on to email me.</noscript>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
