 <!-- Kontakt -->

<section id="kontakt">
  <div id="overlay">
    <div id="map"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center content">
        <h2>Kontakt</h2>
        <hr>
        <ul class="list-unstyled">
          <li>Dipl.-Ing. (FH) Michael Bragulla</li>
          <li>Breite Strasse 15</li>
          <li>04924 Bad Liebenwerda</li>
        </ul>
        <ul class="list-unstyled">
          <li>Tel.: 035341 471 522</li>
          <li>Fax.: 035341 471 522</li>
          <li>Mobil: 0172 721 852 0</li>
          <li>Email: <a href="mailto:info@ib-bauwesen.de">info@ib-bauwesen.de</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
