<!-- Portfolio Modals -->
{% for element in site.data.references %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ element.id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
          <div class="rl">
          </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ element.titel }}</h2>
            <hr>
            <ul class="list-inline">
              <li><small>Fertigstellung:</small>&nbsp;{{ element.jahr }}</li>
              <li><small>Standort:</small>&nbsp;{{ element.ort }}</li>
              <li><small>Bautyp:</small>&nbsp;{{ element.bautyp }}</li>
              <li><small>Projekttyp:</small>&nbsp;{{ element.projekttyp }}</li>
              <li><small>Leistung:</small>&nbsp;{{ element.leistung }}</li>
            </ul>
            {% assign denkmal = element.denkmal | plus: 0 %}
            {% if denkmal == 1 %}
            <p>Dieses Gebäude steht unter <span class="important">Denkmalschutz</span>.</p>
            {% endif %}
            
            {% assign num = element.img-2 | plus: 0 %}

            {% if num == 1 %}
            <img src="img/portfolio/{{ element.id }}/1.png" class="img-responsive img-centered" alt="{{ element.alt-1 }}">
            <p>{{  element.alt-1 }}</p>
            {% endif %}

            <div class="row">
            {% if num > 1 %}
              {% assign num = num | plus: 1 %}
              {% assign alts = element.alt | split: ',' %}
              {% for i in (2..num) %}
              {% assign numalt = i | minus: 2 %}
              <div class="col-lg-6">
                <img src="img/portfolio/{{ element.id }}/{{ i }}.png" class="img-responsive img-centered" alt="{{ alts[numalt] }}">
                <p>{{ alts[numalt]}}</p>
              </div>
              {% endfor %}
            {% endif %}
            </div>

            
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- One Modal for Impressum -->
<div class="portfolio-modal modal fade" id="impressumModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
          <div class="rl">
          </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Impressum</h2>
            <hr>
            {% include impressum.html %}
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>