<div class="banner hidden-xs">
    <div class="container">
        <ul class="list-inline">
            <li><a class="inverted" href="tel:00491727218520"><i class="fa fa-fw fa-phone"></i>&nbsp;0172 7218520</a></li>
            <li><a class="inverted" href="mailto:info@ib-bauwesen.com"><i class="fa fa-fw fa-envelope-o"></i>&nbsp;info@ib-bauwesen.com</a></li>
        </ul>
    </div>
</div>
<!-- Navigation -->
<nav class="navbar navbar-default" data-spy="affix" data-offset-top="46">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-txt">MENÜ</span><i class="fa fa-lg fa-bars"></i>
            </button>
            <a class="navbar-brand hidden-xs" href="#page-top">
                <img class="logo" alt="Brand" src="{{ site.baseurl }}/img/logo.png">
            </a>
            <a class="navbar-brand visible-xs-block" href="#page-top">IB-BAUWESEN</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden"><img src="{{ site.baseurl }}/img/divider.png">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#ueber-uns"><img src="{{ site.baseurl }}/img/divider.png" class="hidden-md">&nbsp;Über uns</a>
                </li>
                <li class="page-scroll">
                    <a href="#qualitaet"><img src="{{ site.baseurl }}/img/divider.png" class="hidden-md">&nbsp;Qualität</a>
                </li>
                <li class="page-scroll">
                    <a href="#dienstleistungen"><img src="{{ site.baseurl }}/img/divider.png" class="hidden-md">&nbsp;Dienstleistungen</a>
                </li>
                <li class="page-scroll">
                    <a href="#kontakt"><img src="{{ site.baseurl }}/img/divider.png" class="hidden-md">&nbsp;Kontakt</a>
                </li>
                <li class="page-scroll">
                    <a href="#referenzen"><img src="{{ site.baseurl }}/img/divider.png" class="hidden-md">&nbsp;Referenzen</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>