<div class="banner">
    <div class="container">
        <ul class="list-inline">
            <li><a class="inverted" href="tel:0172 7218520"><i class="fa fa-fw fa-phone"></i>&nbsp;0172 7218520</a></li>
            <li><a class="inverted" href="mailto:info@ib-bauwesen.de"><i class="fa fa-fw fa-envelope-o"></i>&nbsp;info@ib-bauwesen.de</a></li>
        </ul>
    </div>
</div>
<!-- Navigation -->
<nav class="navbar navbar-default" data-spy="affix" data-offset-top="46">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">
                <img class="logo" alt="Brand" src="{{ site.baseurl }}/img/logo.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden"><img src="{{ site.baseurl }}/img/divider.png">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#ueber-uns"><img src="{{ site.baseurl }}/img/divider.png">&nbsp;Über uns</a>
                </li>
                <li class="page-scroll">
                    <a href="#qualitaet"><img src="{{ site.baseurl }}/img/divider.png">&nbsp;Qualität</a>
                </li>
                <li class="page-scroll">
                    <a href="#dienstleistungen"><img src="{{ site.baseurl }}/img/divider.png">&nbsp;Dienstleistungen</a>
                </li>
                <li class="page-scroll">
                    <a href="#kontakt"><img src="{{ site.baseurl }}/img/divider.png">&nbsp;Kontakt</a>
                </li>
                <li class="page-scroll">
                    <a href="#referenzen"><img src="{{ site.baseurl }}/img/divider.png">&nbsp;Referenzen</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>