<div class="banner hidden-xs">
    <div class="container">
        <ul class="list-inline">
            <li><a class="inverted" href="tel:00491727218520"><i class="fa fa-fw fa-phone"></i>&nbsp;0172 7218520</a></li>
            <li>
                <script type="text/javascript" language="javascript">
<!--
// Email obfuscator script 2.1 by Tim Williams, University of Arizona
// Random encryption key feature by Andrew Moulden, Site Engineering Ltd
// This code is freeware provided these four comment lines remain intact
// A wizard to generate this code is at http://www.jottings.com/obfuscator/
{ coded = "tP4C@tH-HEGjshsP.rs"
  key = "QKXgU9eTSmotMln2rY3NfuzWvsaVRCFLwP0xbIk4Gy7AhEDc85pjq6iHZ1OdBJ"
  shift=coded.length
  link=""
  for (i=0; i<coded.length; i++) {
    if (key.indexOf(coded.charAt(i))==-1) {
      ltr = coded.charAt(i)
      link += (ltr)
    }
    else {     
      ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
      link += (key.charAt(ltr))
    }
  }
document.write("<a class='inverted' href='mailto:"+link+"'><i class='fa fa-fw fa-envelope-o'></i>&nbsp;"+link+"</a>")
}
//-->
</script>
<noscript>Sorry, you need Javascript on to email me.</noscript>
            </li>
        </ul>
    </div>
</div>
<!-- Navigation -->
<nav class="navbar navbar-default" data-spy="affix" data-offset-top="46">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-txt">MENÜ</span><i class="fa fa-lg fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">
                <img class="logo" alt="Brand" src="{{ site.baseurl }}/img/logo.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden"><img src="{{ site.baseurl }}/img/divider.png">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#ueber-uns"><img src="{{ site.baseurl }}/img/divider.png" class="hidden-md">&nbsp;Über uns</a>
                </li>
                <li class="page-scroll">
                    <a href="#qualitaet"><img src="{{ site.baseurl }}/img/divider.png" class="hidden-md">&nbsp;Qualität</a>
                </li>
                <li class="page-scroll">
                    <a href="#dienstleistungen"><img src="{{ site.baseurl }}/img/divider.png" class="hidden-md">&nbsp;Dienstleistungen</a>
                </li>
                <li class="page-scroll">
                    <a href="#kontakt"><img src="{{ site.baseurl }}/img/divider.png" class="hidden-md">&nbsp;Kontakt</a>
                </li>
                <li class="page-scroll">
                    <a href="#referenzen"><img src="{{ site.baseurl }}/img/divider.png" class="hidden-md">&nbsp;Referenzen</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>