<!-- Referenzen -->
<section id="referenzen">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2>Referenzen</h2>
          <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>Seit über 20 Jahren begleiten wir Sie mit einer anforderungsgerechten Planung und praxisorientierten Lösungen an Ihr Ziel.</p>
        <p>Im Folgenden erhalten Sie einen Überblick über ausgewählte Projekte.</p>
        <h4 class="secondary">Filtern Sie unsere Referenzen nach:</h4>
        <dl class="dl-horizontal filter-items">
          {% for item in site.data.filter %}
          <dt>{{ item.filtername }}</dt>
          <dd>
            {% for elem in item.items %}
            <a href="#" data-filter=".{{ elem.id }}" data-filtername="{{ item.filtername }}">{{ elem.name }}</a>
            {% endfor %}
          </dd>
          {% endfor %}
        </dl>
        <a href="#" class="filter-reset" data-filter="all"><i class="fa fa-fw fa-times"></i>&nbsp;Filter zurücksetzen</a>
        <h4 class="secondary filter-info">Sehen Sie hier die Ergebnisse für <span class="filter-category">Neubau</span></h4>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
      {% for element in site.data.references %}
        <div class="col-sm-4 portfolio-item {{ element.filter }}">  
          <a href="#portfolioModal-{{ element.id }}" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-magnify">
              <div class="portfolio-magnify-content">
                <i class="fa fa-search-plus fa-2x"></i>
              </div>
            </div>
            <img src="img/portfolio/{{ element.id }}/1.png" class="img-responsive grayscale" alt="{{ element.alt }}">
          </a>
          <div class="portfolio-title"><small>{{ element.titel }}</small></div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</section>