<!-- Referenzen -->
<section id="referenzen">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2>Referenzen</h2>
          <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>Seit über 20 Jahren begleiten wir Sie mit einer anforderungsgerechten Planung und praxisorientierten Lösungen an Ihr Ziel.<br>Laden Sie unsere gesamten <a href="TODO">Referenzen als PDF&nbsp;<i class="fa fa-fw fa-file-pdf-o"></i></a>runter.</p>
        <p>Im Folgenden erhalten Sie einen Überblick über ausgewählte Projekte.</p>
        <h4 class="secondary">Filtern Sie unsere Referenzen nach:</h4>
        <dl class="dl-horizontal">
          {% for item in site.data.filter %}
          <dt>{{ item.name }}</dt>
          <dd>
            {% for elem in item.items %}
            <a href="#TODO">{{ elem }}</a>
            {% endfor %}
          </dd>
          {% endfor %}
        </dl>
        <a href="TODO"><i class="fa fa-fw fa-times"></i>&nbsp;Filter zurücksetzen</a>
        <h4 class="secondary">Sehen Sie hier die Ergebnisse für “Neubau”</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
      {% for element in site.data.references %}
        <div class="col-sm-4 portfolio-item">  
          <a href="#portfolioModal-{{ element.id }}" class="portfolio-link" data-toggle="modal">
            <img src="img/portfolio/{{ element.img-1 }}" class="img-responsive" alt="{{ post.alt }}">
            {% if element.denkmal == "1" %}
            <img class="portfolio-denkmal" src="{{ site.baseurl }}/img/denkmal.png">
            {% endif %}
          </a>
          <div class="portfolio-title"><small>{{ element.titel }}</small></div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</section>