<!-- About Section -->
<section class="success" id="ueber-uns">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2>Über uns</h2>
          <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>Wir sind <span class="important">Dienstleister</span> für private und öffentliche Auftraggeber im Dreiländereck <span class="important">Brandenburg</span>, <span class="important">Sachsen</span> und <span class="important">Sachsen-Anhalt</span>.</p>
        <p>Die <span class="important">Kundenzufriedenheit</span> ist uns ebenso wichtig wie die <span class="important">Qualität</span> unserer Ingenieurleistungen. Diese erreichen wir durch wirtschaftlich <span class="important">kalkulierte</span>, fachlich <span class="important">durchdachte</span> sowie <span class="important">termingerechte</span> Lösungen.</p>
      </div>
    </div>
  </div>
</section>