$font-color-inverted: #FFFFFF;
$border: 4px;

body {
  position: relative;
  font-weight: 300;
}

// Highlights in the text (no links just nice text)
.important {
  color: $brand-primary;
}

// FOOTER
footer {
  background-color: $gray-dark;
  color: $font-color-inverted;
  font-size: $font-size-small;

  ul { margin: $line-height-computed/4; }
}

// LINKS (also inverted links)
a {
  border-bottom: 1px dotted $brand-primary;
  @include transition(background-color 0.5s ease);
  &:hover { background-color: darken( $gray, 10% ); }

  &.inverted {
    border-color: $font-color-inverted;
    color: $font-color-inverted;
    &:hover { background-color: darken( $gray-dark, 10% ); }
  }
}

// NAVIGATION
@media(min-width:768px) {
    .navbar-fixed-top {
        padding: $line-height-computed/2 0;
        @include transition(padding .3s ease);
    }

    .navbar-fixed-top .navbar-brand {
        @include transition(all .3s ease);
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 0;
        img {
          height: 1.25 * $line-height-computed;
          margin: $line-height-computed/8 0px;
        }
    }
}

.navbar {
  text-transform: uppercase;

  .navbar-nav li a {

    &:focus,
    &:active,
    &:hover,
    &:visited { outline: 0; }

    border: 0px;
    color: $text-color;
    padding: $line-height-computed/4 $padding-base-horizontal;

    &:focus { color: $text-color; }
    &:hover { color: $brand-primary; }
  } 
}

.navbar-brand {
  border: 0px;
  padding: 0px 0px 0px $padding-base-horizontal;
  img { height: 1.5 * $line-height-computed; }
}

.navbar-default,
.navbar-inverse {
  background-color: $body-bg;
  border: 0;
  border-bottom: $border solid $brand-primary;
  font-size: $font-size-small;
}

.navbar-nav > .active > a {
  background-color: $gray !important;
  color: $brand-primary !important;
}

// Start

header {
    background: url(../img/bg.png) no-repeat center top;
    background-size: cover;
    text-align: center;
    text-transform: uppercase;

    h1 {
      font-size: $font-size-h3;
      margin: $line-height-computed/2;
    }

    .tagline {
      background-color: $brand-primary;
      color: $font-color-inverted;
      margin: $line-height-computed/2;
      padding: $line-height-computed/4 $padding-base-horizontal/2;
    }

    span { display: inline-block; }
}

@media(min-width:768px) {
    header .container {
      padding-top: 3.5 * $line-height-computed;
      padding-bottom: $line-height-computed;
    }
}

// Sections and its heading in general
section {
  padding: $line-height-computed 0px;

  &.dark-bg {
    background-color: $gray;
  }

  h2 {
    font-size: $font-size-h3;
    margin: $line-height-computed/4*3 0 $line-height-computed/4;
  }

  h3 {
    font-size: $font-size-h4;
    text-transform: uppercase;
    color: $brand-primary;
    margin: $line-height-computed/2 0;
  }

  h4 {
    font-size: $font-size-h5;
    margin: $line-height-computed 0;
    text-transform: uppercase;
    color: $brand-primary;

    &.secondary {
      color: $text-color;
      text-transform: none;
    }
  }
}

// Horizontal line
hr {
  border-top: $border solid $brand-primary;
  max-width: 100px;
  margin-top: $line-height-computed/4;
  margin-bottom: $line-height-computed;
}

// Dienstleistungen
#dienstleistunegn li {
  margin-bottom: $line-height-computed/4;
}

// Kontakt
#kontakt {
  .container {
    margin-top: -(12 * $line-height-computed);
    pointer-events: none;
  }

  .content {
    height: 12 * $line-height-computed;
    background-color: rgba(255,255,255,0.85);
  }
}

// Google Maps Stuff
.scrolloff {
    pointer-events: none;
}

#map {
    width: 100%;
    height: 12 * $line-height-computed;
}

// Filter
dt {
  color: $brand-primary;
  text-transform: uppercase;
  font-weight: 400;
}

dd {
  font-size: $font-size-small;
  text-align: left;
  margin-bottom: $line-height-computed/2;

  a {
    border: 1px solid $gray-dark;
    color: $gray-dark;
    line-height: $line-height-computed;
    padding: 2px;

    &:hover {
      background-color: $gray;
      color: $text-color;
    }

    &.active {
      background-color: $gray-dark;
      color: $font-color-inverted;
    }
  }
}

.filter-reset, .filter-info {
  display: none;
}

// REFERENZEN
#referenzen .portfolio-item {
  right: 0;
  margin-bottom: $line-height-computed;

  .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    border-bottom: 0;
    border-top: $border solid $brand-primary;

    &:focus { outline: 0; }
  }

  .portfolio-title {
    background-color: $brand-primary;
    color: $font-color-inverted;
    max-width: 400px;
    margin: 0 auto;
  }

  .portfolio-magnify {
    background: rgba($gray, 0.75);
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    &:hover { opacity: 1; }
  }
  
  .portfolio-magnify-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: $line-height-computed/2;
    margin-top: -12px;
    text-align: center;
    font-size: $font-size-small;
    color: $font-color-inverted;
  } 

}

#referenzen * {
    z-index: 2;
}

@media(min-width:767px) {
    #referenzen .portfolio-item {
        margin: 0 0 30px;
    }
}