$font-color-inverted: #FFFFFF;
$border: 4px;

body {
  position: relative;
  font-weight: 300;
}

// Highlights in the text (no links just nice text)
.important {
  color: $brand-primary;
}

// FOOTER
footer {
  background-color: $gray-dark;
  color: $font-color-inverted;
  font-size: $font-size-small;

  ul { margin: $line-height-computed/4; }
}

// LINKS (also inverted links)
a {
  border-bottom: 1px dotted $brand-primary;
  @include transition(background-color 0.5s ease);
  &:hover { background-color: darken( $gray, 10% ); }

  &.inverted {
    border-color: $font-color-inverted;
    color: $font-color-inverted;
    &:hover { background-color: darken( $gray-dark, 10% ); }
  }
}

// BANNER (line at very top)
.banner {
  text-align: right;
  background-color: $gray-dark;
  font-size: $font-size-small;
  padding: $line-height-computed/4 0;
  ul { margin-bottom: 0px; }
}

// NAVIGATION - bootstrap affix
@media(max-width: $screen-md-min) {
  .affix {
    padding: $line-height-computed/4 0;
    @include transition(padding .3s ease);
  }
}

@media(max-width: $screen-sm-min) {
  .affix {
    padding: $line-height-computed/4 0;
    @include transition(padding .3s ease);
  }

  header h1 { font-size: $font-size-h4 !important; }
  .modal-body h2 { font-size: $font-size-h4 !important; }
}

@media(min-width: $screen-md-min) {
  .affix-top .navbar-brand {
    padding-top: $line-height-computed/4;
  }

  .affix .navbar-brand img.logo{
    padding-top: $line-height-computed/4;
    padding-bottom: 0px;
  }
}

.affix {
  top: 0;
  width: 100%;
  z-index: 2;
}

.affix + .container {
  padding-top: 46px;
}


.affix-top {
  padding: $line-height-computed/2 0;
  @include transition(padding .3s ease);
}

.affix-top .navbar-brand {
  @include transition(all .3s ease);
}

.affix {
  img.logo {
    height: 1 * $line-height-computed;
    padding: $line-height-computed/8 0px;
  }
}

.navbar-brand {
  border: 0px;
  padding: 0px 0px 0px $padding-base-horizontal;
}

.navbar-default .navbar-toggle{
  border-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-txt {
  padding-right: $padding-base-horizontal;
}

.navbar {
  text-transform: uppercase;
  background-color: #FFFFFF;
  margin-bottom: 0px;

  .navbar-nav li a {

    &:focus,
    &:active,
    &:hover,
    &:visited { outline: 0; }

    border: 0px;
    color: $text-color;
    padding: $line-height-computed/2 $padding-base-horizontal;

    &:focus { color: $text-color; }
    &:hover { color: $brand-primary; }
  } 
}

.navbar-default .navbar-brand {
  color: $brand-primary;
  line-height: $line-height-computed;
}

.navbar-brand {
  border: 0px;
  // padding: 0px 0px 0px $padding-base-horizontal;
  img.logo { height: 1.5 * $line-height-computed; }
}

.navbar-default,
.navbar-inverse {
  background-color: $body-bg;
  border: 0;
  border-bottom: $border solid $brand-primary;
  font-size: $font-size-small;
}

.navbar-nav > .active > a {
  background-color: $gray !important;
  color: $brand-primary !important;
}

// Start

header {
    background: url(../img/bg.png) no-repeat center top;
    background-size: cover;
    text-align: center;
    text-transform: uppercase;
    padding-top: $line-height-computed;
    padding-bottom: $line-height-computed;

    h1 {
      font-size: $font-size-h3;
    }

    .tagline {
      background-color: $brand-primary;
      color: $font-color-inverted;
      margin: $line-height-computed/2;
      padding: $line-height-computed/4 $padding-base-horizontal/2;
    }

    span { display: inline-block; }
}

@media(min-width: 768px) {
    header .container {
      padding-top: $line-height-computed;
      padding-bottom: $line-height-computed;
    }
}

// Sections and its heading in general
section {
  padding: $line-height-computed 0px;

  &.dark-bg {
    background-color: $gray;
    color: darken($gray-darker, 10%);
  }

  h2 {
    font-size: $font-size-h3;
    margin: $line-height-computed/4*3 0 $line-height-computed/4;
  }

  h3 {
    font-size: $font-size-h4;
    text-transform: uppercase;
    color: $brand-primary;
    margin: $line-height-computed/2 0;
  }

  h4 {
    font-size: $font-size-h5;
    margin: $line-height-computed 0;
    text-transform: uppercase;
    color: $brand-primary;

    &.secondary {
      color: $text-color;
      text-transform: none;
    }
  }
}

// Horizontal line
hr {
  border-top: $border solid $brand-primary;
  max-width: 100px;
  margin-top: $line-height-computed/4;
  margin-bottom: $line-height-computed;
}

// Dienstleistungen
#dienstleistungen li {
  margin-bottom: $line-height-computed/4;
}

.dienstleistungen-content {
  margin-top: $line-height-computed;
  margin-bottom: 2 * $line-height-computed;
}

// Kontakt
@media(min-width: $screen-lg-min) {
  #kontakt {

    .container {
      margin-top: -(12 * $line-height-computed);
      pointer-events: none;
    }

    .content {
      pointer-events: all;
      height: 12 * $line-height-computed;
      background-color: rgba(255,255,255,0.85);
    }
  }
}

@media(max-width: $screen-lg-min) {
  #kontakt {
    background-color: $gray;
    color: darken($gray-darker, 10%);
  }
}


// Google Maps Stuff
.scrolloff {
    pointer-events: none;
}

#map {
    width: 100%;
    height: 12 * $line-height-computed;
}

// Filter
dt {
  color: $brand-primary;
  text-transform: uppercase;
  font-weight: 400;
}

dd {
  font-size: $font-size-small;
  text-align: left;
  margin-bottom: $line-height-computed/2;

  a {
    border: 1px solid $gray-dark;
    color: $gray-dark;
    line-height: $line-height-computed;
    padding: 2px;

    &:hover {
      background-color: $gray;
      color: $text-color;
    }

    &.active {
      background-color: $gray-dark;
      color: $font-color-inverted;
    }
  }
}

@media(max-width: $screen-md-min) {
  dd {
    text-align: center;
  }
}

.filter-reset, .filter-info {
  display: none;
}

// REFERENZEN
#referenzen .portfolio-item {
  right: 0;
  margin-bottom: $line-height-computed;

  .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    border-bottom: 0;
    border-top: $border solid $brand-primary;

    &:focus { outline: 0; }
  }

  .portfolio-title {
    background-color: $brand-primary;
    color: $font-color-inverted;
    max-width: 400px;
    margin: 0 auto;
  }

  .portfolio-magnify {
    background: rgba($gray, 0.75);
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

    &:hover { opacity: 1; }
  }
  
  .portfolio-magnify-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: $line-height-computed/2;
    margin-top: -12px;
    text-align: center;
    font-size: $font-size-small;
    color: $font-color-inverted;
  } 

}

@media(min-width:767px) {
    #referenzen .portfolio-item {
        margin: 0 0 30px;
    }
}

@mixin grayscale_element($value) {
    -webkit-filter: #{"grayscale(#{$value})"};
    -moz-filter: #{"grayscale(#{$value})"};
    filter:#{"grayscale(#{$value})"};
}

.grayscale {
    @include grayscale_element(100%);
    transition: all 200ms ease-in-out;
    &:hover {
        @include grayscale_element(0);
    }
}

// Modal

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal button {
    margin-top: $line-height-computed;
}

.portfolio-modal img {
  padding: $line-height-computed/2 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}


/* Fix modal mouse wheel issues */
/* https://github.com/twbs/bootstrap/issues/16297 */
.modal.fade.in {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}
